.timer-container {
    color: black;
    font-size: 35px;
    padding-bottom: 20px;
}

.count-container {
    font-size: 25px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-style {
    font-size: 25px;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    background: palegreen;
    width: 110px;
}

.countdown-container {
    margin-top: 20px;
}

.input-container {
    margin-top: 10px;
}